{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!-- Start Profile Details Section -->
    <div class="profile">

        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    <img src="{% static 'images/person.png' %}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ object.username }}</p>

                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                alt="edit button">
                        </a>
                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>4</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>7</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>436</span>
                    <p>likes</p>
                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name}}</h3>
                {% endif %}

                <p class="email">{{ object.email}}</p>

                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">
                <!-- Start 1st Pet Details Page -->
                <!-- Link to First Pet Details Page -->
                <a href="#">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <!-- Pet Image -->
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgoIHq82qLYnvomfz5ZkW5CLQ8VNxCyI-hUw&usqp=CAU"
                                     alt="pet img">
                            </div>
                        </div>
                        <!-- Pet Name -->
                        <p>Sasho</p>
                    </div>
                </a>
                <!-- End 1st Pet Details Page -->
            </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
            <!-- Link to Last Uploaded Pet Photo -->
            <a href="#">
                <!-- Pet Photo -->
                <img src="https://i.natgeofe.com/n/de94c416-6d23-45f5-9708-e8d56289268e/naturepl_01132178.jpg?w=636&h=631"
                     alt="pet img">
            </a>
            <!-- Link to Uploaded Pet Photo -->
            <a href="#">
                <!-- Pet Photo -->
                <img src="https://cf.ltkcdn.net/small-pets/images/orig/278587-1600x1066-goldfish-swimming-in-fish-tank.jpg"
                     alt="pet img">
            </a>
        </div>
    </div>
{% endblock %}